<h4 class="text-center">Login</h4>

<form [formGroup]="loginForm" class="form mt-4" (submit)="login">

    <div class="form-group">
        <input 
            formControlName="userName"
            class="form-control" 
            placeholder="Informe o Usuário" 
            autofocus
        >
        <m-vmsg *ngIf="loginForm.get('userName').errors?.required" text="Por favor informe o usuário!"></m-vmsg>
    </div>

    <div class="form-group">
        <input
            formControlName="password"
            type="password" 
            class="form-control" 
            placeholder="Digite a Senha"
        >
        <m-vmsg *ngIf="loginForm.get('password').errors?.required"  text="Por favor informe a senha!"></m-vmsg>
    </div>

    <button
        [disabled]="loginForm.invalid"
        type="submit" 
        class="btn btn-primary btn-block">
        Entrar
    </button>

</form>

<p class="text-center mt-2">Não tem um usuário? <a>Registre-se agora</a></p>